name: stream_video_push_notification
description: Adds push notification support for Stream Video, a service for
  building video calls, audio rooms, and live-streaming applications.
version: 0.7.2
homepage: https://getstream.io/video/
repository: https://github.com/GetStream/stream-video-flutter
issue_tracker: https://github.com/GetStream/stream-video-flutter/issues

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.24.5"

dependencies:
  collection: ^1.17.1
  firebase_core: ^3.10.0
  firebase_messaging: ^15.2.0
  flutter:
    sdk: flutter
  flutter_callkit_incoming: ^2.5.0
  json_annotation: ^4.9.0
  meta: ^1.9.1
  plugin_platform_interface: ^2.1.8
  rxdart: ^0.28.0
  stream_video: ^0.7.2
  uuid: ^4.2.1
  shared_preferences: ^2.3.2
  stream_webrtc_flutter: ^0.12.5+2

dev_dependencies:
  build_runner: ^2.4.4
  flutter_lints: ^2.0.2
  flutter_test:
    sdk: flutter
  json_serializable: ^6.6.1
  mocktail: ^1.0.0

flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      ios:
        pluginClass: StreamVideoPushNotificationPlugin
      android:
        package: io.getstream.video.flutter.stream_video_push_notification
        pluginClass: StreamVideoPushNotificationPlugin

topics:
  - video
  - audio
  - audioroom
  - webrtc
  - livestream
