name: stream_video_flutter
description: The Official UI package for Stream Video, a service for building
  video calls, audio rooms, and live-streaming applications.
version: 0.8.3
homepage: https://getstream.io/video/
repository: https://github.com/GetStream/stream-video-flutter
issue_tracker: https://github.com/GetStream/stream-video-flutter/issues

environment:
  sdk: ^3.6.2
  flutter: ">=3.27.4"

dependencies:
  cached_network_image: ^3.4.1
  collection: ^1.17.1
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ">=0.18.1 <=0.21.0"
  ios_platform_images: ^0.2.4
  permission_handler: ^11.3.1
  plugin_platform_interface: ^2.1.8
  rate_limiter: ^1.0.0
  stream_video: ^0.8.3
  stream_webrtc_flutter: ^0.12.12+1
  visibility_detector: ^0.4.0+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.0

flutter:
  assets:
    - images/

  fonts:
    - family: StreamIcons
      fonts:
        - asset: fonts/StreamIcons.ttf

  uses-material-design: true

  plugin:
    platforms:
      android:
        package: io.getstream.video.flutter.stream_video_flutter
        pluginClass: StreamVideoFlutterPlugin
      ios:
        pluginClass: StreamVideoFlutterPlugin

topics:
  - video
  - audio
  - screen-sharing
  - webrtc
  - livestream
