name: stream_video_flutter
description: A new Flutter package project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  cached_network_image: ^3.2.3
  collection: ^1.16.0
  eva_icons_flutter: ^3.1.0
  flutter:
    sdk: flutter
  flutter_background: ^1.1.0
  flutter_webrtc: ^0.9.24
  google_fonts: ^3.0.1
  rate_limiter: ^1.0.0
  stream_video:
    path: ../stream_video
  stream_video_flutter_background:
    path: ../stream_video_flutter_background

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - images/
  uses-material-design: true
