name: stream_video_flutter
description: The Official UI package for Stream Video, a service for building
  video calls, audio rooms, and live-streaming applications.
version: 1.2.2
homepage: https://getstream.io/video/
repository: https://github.com/GetStream/stream-video-flutter
issue_tracker: https://github.com/GetStream/stream-video-flutter/issues

environment:
  sdk: ^3.8.0
  flutter: ">=3.32.0"

dependencies:
  cached_network_image: ^3.4.1
  characters: ^1.4.0
  collection: ^1.19.1
  equatable: ^2.0.7
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ">=0.18.1 <=0.21.0"
  permission_handler: ^12.0.1
  plugin_platform_interface: ^2.1.8
  rate_limiter: ^1.0.0
  rxdart: ^0.28.0
  stream_video: ^1.2.2
  stream_webrtc_flutter: ^2.2.3
  visibility_detector: ^0.4.0+2

dev_dependencies:
  alchemist: ^0.12.1
  build_runner: ^2.8.0
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.0

flutter:
  assets:
    - images/

  fonts:
    - family: StreamIcons
      fonts:
        - asset: fonts/StreamIcons.ttf

  uses-material-design: true

  plugin:
    platforms:
      android:
        package: io.getstream.video.flutter.stream_video_flutter
        pluginClass: StreamVideoFlutterPlugin
      ios:
        pluginClass: StreamVideoFlutterPlugin

topics:
  - video
  - audio
  - screen-sharing
  - webrtc
  - livestream
