name: stream_video_noise_cancellation
description: The Official package for Stream Video, providing noise cancellation feature for video and audio calls.
version: 0.9.1
homepage: https://getstream.io/video/
repository: https://github.com/GetStream/stream-video-flutter
issue_tracker: https://github.com/GetStream/stream-video-flutter/issues

environment:
  sdk: ^3.6.2
  flutter: ">=3.27.4"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  stream_video: ^0.9.1
  stream_webrtc_flutter: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: io.getstream.video.flutter.stream_video_noise_cancellation
        pluginClass: StreamVideoNoiseCancellationPlugin
      ios:
        pluginClass: StreamVideoNoiseCancellationPlugin
